.ContainerGeneral {
  @apply mt-32 flex w-full flex-col;
}
.ContainerListCard {
  @apply grid w-full grid-cols-[repeat(auto-fill,_minmax(min(100%,25rem),_1fr))] place-items-center justify-around gap-[5rem] px-16;
}

.fadeEnter {
  opacity: 0;
  transform: translateY(20px);
}
.fadeEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 200ms,
    transform 2000ms;
}
